.App {
  text-align: center;
  font-family: 'Bad Unicorn DEMO';
  background-image: url(https://wallpaperaccess.com/full/1208944.jpg);
  background-position: center;
  background-size: 90%;
  /* background-attachment: fixed; */
  height: 100vh;

  /* background-color: #E8CAFF; */
}

/* body {
    background-color: #E8CAFF;
} */

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.header {
  font-family: 'Bad Unicorn DEMO';
  font-size: 3em;
  padding-bottom: 20px;
  color: white;
}

.ui.tabular.menu .active.item {
  background: none;
  font-weight: normal;
}

.ui.menu .item>a:not(.ui) {
  font-family: 'Bad Unicorn DEMO';
  font-size: 1.8em;
  color: white;
  background: none;
}

.App-link {
  color: #61dafb;
}

.column {
  height: 10vh;
}



.letter {
  padding: 10px;
  background-color: #ccc;
  margin-bottom: 5px;
  /* flex: 0 0 32%;                       /* don't grow, don't shrink, width */
  /* height: 50px; */
  /* margin-bottom: 5px; */
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
