.App {
  text-align: center;
  font-family: 'Bad Unicorn DEMO';
  background-color: #E8CAFF;
}

body {
    background-color: #E8CAFF;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.header {
  font-family: 'Bad Unicorn DEMO';
  font-size: 3em;
}

.ui.tabular.menu .active.item {
  background: none;
  font-weight: normal;
}

.ui.menu .item>a:not(.ui) {
  font-family: 'Bad Unicorn DEMO';
  font-size: 1.8em;
  color: black;
  background: none;
}

.App-link {
  color: #61dafb;
}

.alien-pad {
  display: grid;
  grid-gap: 1px;
  grid-template-columns: repeat(3, 1fr);
}



.letter {
  padding: 10px;
  background-color: #ccc;
  margin-bottom: 5px;
  /* flex: 0 0 32%;                       /* don't grow, don't shrink, width */
    /* height: 50px; */
    /* margin-bottom: 5px; */
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
