.App {
  text-align: center;
  font-family: 'Bad Unicorn DEMO';
  background-color: #E8CAFF;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.header {
  font-family: 'Bad Unicorn DEMO';
  font-size: 3em;
}

.ui.tabular.menu {
  font-family: 'Bad Unicorn DEMO';
  font-size: 2em;
  color: #46007C !important;
}

.App-link {
  color: #61dafb;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
